body {
  font-family: system-ul, Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  margin: 0;
  background-repeat: round;
  background-size: cover;
}
b .fundoBody {
  position: fixed;
  margin-top: 0;
  z-index: -1;
  width: 100%;
  /* margin-top: 0; */
  height: 100%;
  background-size: cover;
}
